<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Enrutador</servlet-name>
        <servlet-class>Controller.Enrutador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUbigeo</servlet-name>
        <servlet-class>Controller.sUbigeo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enrutador</servlet-name>
        <url-pattern>/sEnrutador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientesLet</servlet-name>
        <servlet-class>Controller.ClientesLet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientesLet</servlet-name>
        <url-pattern>/ClientesLet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Validador</servlet-name>
        <servlet-class>Controller.Validador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validador</servlet-name>
        <url-pattern>/Validador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.Controlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Empleadoslet</servlet-name>
        <servlet-class>Controller.Empleadoslet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Empleadoslet</servlet-name>
        <url-pattern>/Empleadoslet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servicioslet</servlet-name>
        <servlet-class>Controller.Servicioslet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servicioslet</servlet-name>
        <url-pattern>/Servicioslet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletOrdenes</servlet-name>
        <servlet-class>Controller.OrdenesLet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletOrdenes</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextPath</param-name>
        <param-value>/Web_SistemaLavanderiaControl_SLC</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>sUbigeo</servlet-name>
        <url-pattern>/sUbigeo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
